body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-style: italic;
}

section {
    padding: 20px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    display: inline-block;
    margin-bottom: 20px;
}

.project, .gallery figure {
    margin: 15px 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.gallery figure {
    width: 250px; /* Set a maximum width for the images */
    text-align: center;
}

.gallery img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
    transition: transform 0.3s; /* Add a hover effect */
}

.gallery img:hover {
    transform: scale(1.05); /* Slightly enlarge the image on hover */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 0.9em;
}
